@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  background-color: #fff;
}
body nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 112px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body nav .left-nav ul,
body nav .right-nav {
  display: flex;
  align-items: center;
}
body nav .left-nav {
  margin-left: 32px;
  justify-content: start;
}
body nav .left-nav ul {
  list-style: none;
  padding: 0;
  gap: 42px;
}
body nav .left-nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav .left-nav ul a {
  text-decoration: none;
}
body nav .left-nav ul a:hover,
body nav .left-nav ul a:visited,
body nav .left-nav ul a:link,
body nav .left-nav ul a:active {
  color: #182327;
}
body nav .right-nav {
  margin-right: 32px;
  gap: 22px;
}
body nav .right-nav button {
  background-color: #5D696D;
  color: #fff;
  border: none;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav .right-nav button:hover {
  cursor: pointer;
}
body nav .right-nav .profile-btn {
  border-radius: 50px;
  width: 52px;
}
body nav .right-nav .signup-btn {
  border-radius: 8px;
  width: 107px;
}
body nav .right-nav .menu-icon {
  display: none;
}
body nav .right-nav .search-bar {
  width: 330px;
  height: 52px;
  padding: 0;
  border: 1px solid #D8E0E2;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
body nav .right-nav .search-bar:hover {
  cursor: text;
  border: 1px solid #a2a9aa;
}
body nav .right-nav .search-bar .search-icon {
  width: 21px;
  height: 21px;
  padding: 0px 15px;
  background-color: #5D696D;
  -webkit-mask: url(/images/vectors/Search.svg) no-repeat center;
  mask: url(/images/vectors/Search.svg) no-repeat center;
}
body nav .right-nav .search-bar input {
  border: none;
  font-size: 14px;
  color: #5D696D;
  width: 195px;
}
body nav .right-nav .search-bar input:focus {
  outline: none;
}
body .hero {
  background-image: url("/images/vectors/Background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin-top: 112px;
  padding: 0 100px;
  display: grid;
  grid-template-columns: 42% 52%;
  gap: 6%;
  align-items: center;
}
body .hero .image {
  height: 100%;
  width: 100%;
  background-image: url("/images/HeroImage.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body .hero .image img {
  height: auto;
}
body .hero .text-content h1 {
  font-weight: 700;
  font-size: 70px;
  font-family: "Domine", serif;
  margin-bottom: 30px;
}
body .hero .text-content p {
  font-weight: 400;
  font-size: 20px;
}
body .hero .text-content button {
  background-color: #182327;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 30px;
  margin-top: 40px;
  cursor: pointer;
}
body .pinned-crisps {
  padding: 0 100px;
}
body .pinned-crisps h3 {
  font-family: "Domine", serif;
  margin-top: 150px;
  margin-bottom: 70px;
  font-size: 42px;
  font-weight: 700;
  width: 38%;
}
body .pinned-crisps .crisps-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8%;
}
body .pinned-crisps .crisps-container img {
  width: 38%;
}
body .pinned-crisps .crisps-container .right-container h5 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Domine", serif;
  margin: 16px 0;
}
body .pinned-crisps .crisps-container .right-container .price-text {
  font-weight: 400;
  color: #5D696D;
}
body .pinned-crisps .crisps-container .right-container .price-number {
  font-weight: 700;
  font-size: 22px;
  margin: 16px 0;
}
body .pinned-crisps .crisps-container .right-container .crisps-description {
  font-weight: 400;
  color: #5D696D;
  margin-bottom: 44px;
}
body .pinned-crisps .crisps-container .right-container .btn-seemore {
  background-color: transparent;
  border: none;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-left: 28px;
  cursor: pointer;
}
body .pinned-crisps .crisps-container .right-container .btn-buynow {
  background-color: #182327;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 30px;
  cursor: pointer;
}
body .pinned-crisps .crisps-container .right-container img {
  width: 114px;
}

@media (max-width: 1245px) {
  body nav {
    height: 88px;
  }
  body nav .left-nav {
    margin-left: 18px;
  }
  body nav .left-nav ul {
    gap: 12px;
  }
  body nav .right-nav {
    margin-right: 18px;
    gap: 12px;
  }
  body nav .right-nav .search-bar {
    display: none;
  }
  body nav .right-nav .profile-btn {
    width: 40px;
    height: 40px;
  }
  body nav .right-nav .signup-btn {
    width: 60px;
    height: 40px;
    font-size: 11px;
  }
  body .hero {
    margin-top: 88px;
    padding: 0 32px;
  }
  body .hero .text-content h1 {
    font-size: 52px;
  }
  body .hero .text-content p {
    font-size: 18px;
  }
  body .hero .text-content button {
    padding: 16px 24px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  body .pinned-crisps {
    padding: 0 100px;
  }
  body .pinned-crisps h3 {
    width: 60%;
  }
  body .pinned-crisps .crisps-container {
    gap: 4%;
  }
  body .pinned-crisps .crisps-container img {
    width: 38%;
  }
  body .pinned-crisps .crisps-container .right-container .price-text {
    margin: 4px 0;
  }
  body .pinned-crisps .crisps-container .right-container .crisps-description {
    margin-bottom: 26px;
  }
  body .pinned-crisps .crisps-container .right-container .btn-seemore {
    padding: 2px 4px;
    font-size: 16px;
  }
  body .pinned-crisps .crisps-container .right-container .btn-buynow {
    padding: 12px 20px;
    font-size: 16px;
  }
}
@media (max-width: 846px) {
  body .hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
  body .hero .text-content h1 {
    margin-top: 0;
  }
  body .pinned-crisps {
    padding: 0 32px;
  }
  body .pinned-crisps h3 {
    margin-top: 100px;
    width: 100%;
  }
  body .pinned-crisps .crisps-container img {
    width: 44%;
  }
}
@media (max-width: 610px) {
  body .open-navbar {
    top: 0px;
  }
  body nav {
    top: -330px;
    height: 270px;
    padding: 62px 0;
    position: fixed;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    transition: all 300ms ease-in-out;
  }
  body nav .left-nav ul,
  body nav .right-nav {
    flex-direction: column;
  }
  body nav .left-nav ul {
    gap: 12px;
  }
  body nav .left-nav .logo-image {
    position: fixed;
    top: 0;
    left: 0;
    margin: 12px;
  }
  body nav .right-nav {
    margin: 12px 0;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  body nav .right-nav .menu-icon {
    position: fixed;
    top: 0;
    right: 0;
    margin: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    height: 20px;
    padding: 0;
  }
  body nav .right-nav .menu-icon span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #182327;
    border-radius: 20px;
    transition: all 300ms ease;
  }
  body nav .right-nav .menu-open span:nth-child(1) {
    transform: translate(0px, 6.8px) rotate(45deg);
    transition: all 300ms ease;
  }
  body nav .right-nav .menu-open span:nth-child(2) {
    opacity: 0;
  }
  body nav .right-nav .menu-open span:nth-child(3) {
    transform: translate(0px, -6.8px) rotate(-45deg);
    transition: all 300ms ease;
  }
  body .hero {
    margin-top: 62px;
  }
  body .pinned-crisps {
    padding: 0 18px;
  }
  body .pinned-crisps h3 {
    margin-top: 100px;
    font-size: 42px;
  }
  body .pinned-crisps .crisps-container {
    flex-direction: column;
  }
  body .pinned-crisps .crisps-container img {
    width: 100%;
    margin-bottom: 20px;
  }
  body .pinned-crisps .crisps-container .right-container img {
    margin-bottom: 6px;
  }
}/*# sourceMappingURL=main.css.map */